@model BusTracker.Models.shape

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>shape</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.shape_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.shape_id)
            @Html.ValidationMessageFor(model => model.shape_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.shape_pt_lat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.shape_pt_lat)
            @Html.ValidationMessageFor(model => model.shape_pt_lat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.shape_pt_lon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.shape_pt_lon)
            @Html.ValidationMessageFor(model => model.shape_pt_lon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.shape_pt_sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.shape_pt_sequence)
            @Html.ValidationMessageFor(model => model.shape_pt_sequence)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.shape_dist_traveled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.shape_dist_traveled)
            @Html.ValidationMessageFor(model => model.shape_dist_traveled)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
