@model BusTracker.Models.shape

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>shape</legend>

    <div class="display-label">shape_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shape_id)
    </div>

    <div class="display-label">shape_pt_lat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shape_pt_lat)
    </div>

    <div class="display-label">shape_pt_lon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shape_pt_lon)
    </div>

    <div class="display-label">shape_pt_sequence</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shape_pt_sequence)
    </div>

    <div class="display-label">shape_dist_traveled</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shape_dist_traveled)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
