@model IEnumerable<BusTracker.Models.agency>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            agency_id
        </th>
        <th>
            agency_phone
        </th>
        <th>
            agency_url
        </th>
        <th>
            agency_name
        </th>
        <th>
            agency_timezone
        </th>
        <th>
            agency_fare_url
        </th>
        <th>
            agency_lang
        </th>
        <th>
            route_url
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.agency_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agency_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agency_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agency_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agency_timezone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agency_fare_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agency_lang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.route_url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
