@model BusTracker.Models.stop

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>stop</legend>

    <div class="display-label">stop_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_id)
    </div>

    <div class="display-label">stop_code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_code)
    </div>

    <div class="display-label">stop_name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_name)
    </div>

    <div class="display-label">stop_desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_desc)
    </div>

    <div class="display-label">stop_lat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_lat)
    </div>

    <div class="display-label">stop_lon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_lon)
    </div>

    <div class="display-label">zone_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zone_id)
    </div>

    <div class="display-label">stop_url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_url)
    </div>

    <div class="display-label">location_type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location_type)
    </div>

    <div class="display-label">parent_station</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.parent_station)
    </div>

    <div class="display-label">stop_timezone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stop_timezone)
    </div>

    <div class="display-label">wheelchair_boarding</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.wheelchair_boarding)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
