@model IEnumerable<BusTracker.Models.stop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            stop_id
        </th>
        <th>
            stop_code
        </th>
        <th>
            stop_name
        </th>
        <th>
            stop_desc
        </th>
        <th>
            stop_lat
        </th>
        <th>
            stop_lon
        </th>
        <th>
            zone_id
        </th>
        <th>
            stop_url
        </th>
        <th>
            location_type
        </th>
        <th>
            parent_station
        </th>
        <th>
            stop_timezone
        </th>
        <th>
            wheelchair_boarding
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stop_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stop_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stop_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stop_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stop_lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stop_lon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zone_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stop_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent_station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stop_timezone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wheelchair_boarding)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
